// 项目提供 scss 全局变量
// 定义主题颜色
// $color:blue;

// 左侧菜单 
//宽度
$bace-menu-width:260px;
//最小宽度
$bace-menu-min--width:50px;
//背景颜色
$bace-menu-background:#001529;
// logo高度
$bace-menu-logo-height:50px;

// 顶部导航
//高度
$bace-tabber-height:50px;


